
#d1 {
    border: 1px solid black;
    padding: 11px;
}
#d2 img {
    float: left;
    margin-right: 14px;
}
#d2 p {
    overflow: hidden;
}
#d3 {
    background-color: #6c7b8b;
    padding: 10px;
}

.div-3 {
    position: absolute;
    z-index: 9999;
    top: 105px;
    left: 105px;
    width: 465px;
    height: 465px;
}